[Desktop Entry]
Type=Application
Name=G-Helper
GenericName=ASUS Laptop Control
Comment=Performance modes, fan curves, GPU switching, and more for ASUS laptops
Exec=ghelper
Icon=ghelper
Terminal=false
Categories=System;Settings;HardwareSettings;
Keywords=ASUS;ROG;TUF;Zephyrus;Strix;performance;fan;GPU;keyboard;backlight;
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-UsesNotifications=true
